// set variables used by imports then import styles

$body-size: 1rem;
$primary: rgb(89, 81, 139);
$link: hsl(194deg 50% 50%);
$info: #87ADB3;
$menu-item-active-background-color: $primary;
@import "../../../node_modules/bulma/bulma.sass";

$slider-track-background: $primary;
@import "../../../node_modules/bulma-slider/src/sass/index.sass";

$primary-color: $link;
@import '../../../node_modules/vue-datepicker-next/scss/index.scss';

// widely used utility classes
.is-flex-column {
  @extend .is-flex;
  flex-direction: column;
}

/* used by download form and explore form fields */
.control-item {
  @extend .py-2;
  @extend .px-2;
  width: 100%;
  flex-grow: 1;
  min-width: 250px;
}

// have buttons wrap lines - this is overwriting bulma
.button {
  white-space: normal;
  overflow-wrap: break-word;
  height: revert;
}

// make vue datepicker input width 100%
.mx-datepicker-range {
  width: 100%;
}

// make vue-multiselect colors match theme
.multiselect__tag {
  background: $link;
}

.multiselect__option--highlight {
  background: $link;
}

.multiselect__option--highlight::after {
  background: $link;
}
