$body-size: 1rem;
$primary: rgb(89, 81, 139);
$link: hsl(194deg 50% 50%);
$info: #87ADB3;
$primary-color: $link;

@import "../../../node_modules/bulma/bulma.sass";
@import '../../../node_modules/vue-datepicker-next/scss/index.scss';


.disabled {
  background-color: #efefef !important;
  color: $grey !important;
  cursor: not-allowed;
  svg {
    margin-left: 1rem;
  }
}

.brand-title {
  @extend .mb-0;
  @extend .mr-2;
  font-weight: bold;
  font-size: 1.2rem;
}

.is-flex-column {
  @extend .is-flex;
  flex-direction: column;
}

.mx-datepicker-range {
  width: 100% !important;
}

/* used by download form and explore form fields */
.control-item {
  @extend .py-2;
  @extend .px-2;
  width: 100%;
  flex-grow: 1;
  min-width: 250px;
}

// have buttons wrap lines
.button {
  white-space: normal !important;
  overflow-wrap: break-word !important;
  height: revert;
}

// make vue-multiselect colors match theme
.multiselect__tag {
  background: $link;
}

.multiselect__option--highlight {
  background: $link;
}

.multiselect__option--highlight::after {
  background: $link;
}
